.clear {
	clear: both;
	height: 0;
}

body {
	margin: 0;
	font-size: 14px;
}

a,a:ACTIVE,a:VISITED {
	text-decoration: none;
}

a:HOVER {
	text-decoration: underline;
}

#container {
	width: 100%;
	margin: auto;
}

#header {
	
}

#wrapper {
	width: 100%;
	margin: 30px 0;
	float: left;
	margin-right: -220px;
	/*	
float: right;
	margin-left: -220px;
	*/
}

#content {
	margin-right: 250px;
	margin-left: 20px;
}

#sidebar {
	width: 200px;
	float: right;
	/*	float: left;*/
	margin: 30px 0;
	padding-left: 20px;
}

#footer {
	clear: both;
}

#global-messages {
	color: red;
}

.pageTitle {
	font-weight: bold;
}

/* tables */
.table {
	border-collapse: collapse;
	margin-bottom: 15px;
	clear: both;
}

.table th {
	padding: 5px;
	font-weight: bold;
	text-align: left;
}

.table .checkbox {
	margin-left: 5px;
}

.table td {
	padding: 5px;
	font-size: 14px;
}

.table td.last {
	text-align: right;
}

/* forms */
.form {
	margin-top: 10px;
}

.form ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.form ul li {
	list-style: none;
	margin: 0;
	padding: 6px;
	clear: both;
}

.form ul li label {
	display: block;
	font-weight: bold;
	color: #666;
}

.form ul li span {
	float: left;
	margin: 0 5px 0 0;
	padding: 0 0 0 20px;
	font-weight: bold;
}

.form div.actions {
	clear: both;
	float: left;
	padding: 6px;
}

.form .text {
	width: 600px;
}

.form .textarea {
	width: 600px;
	height: 200px;
}


.pageTitle{
	
}
.page-navi{
	margin: 5px 0;
}
