.clear {
	clear: both;
	height: 0;
}

body {
	margin: 0;
	font-size: 14px;
}

a,a:ACTIVE,a:VISITED {
	text-decoration: none;
}

a:HOVER {
	text-decoration: underline;
}

#container {
	width: 100%;
	margin: auto;
}

#header {
	
}

#global-navi ul li a {
	font-size: 0.75em;
	color: #000000;
	text-decoration: none
}

#global-navi ul li a:hover {
	color: #ffaa00;
}

#global-navi ul li {
	display: inline;
	border-left: solid 1x #aaaaaa;
	margin-left: 15px;
	padding-left: 15px;
}

#global-navi ul li.first {
	border-left: none;
	margin-left: 0;
	padding-left: 0;
}

#global-navi ul {
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 100%;
	margin: 30px 0;
	float: left;
	margin-right: -220px;
	/*	
float: right;
	margin-left: -220px;
	*/
}

#content {
	margin-right: 250px;
	margin-left: 20px;
}

#sidebar {
	width: 200px;
	float: right;
	/*	float: left;*/
	margin: 30px 0;
	padding-left: 20px;
}

#footer {
	clear: both;
}

#global-messages {
	color: red;
}

.pageTitle {
	font-weight: bold;
}

/* tables */
.table {
	border-collapse: collapse;
	margin-bottom: 15px;
	clear: both;
}

.table th {
	padding: 5px;
	font-weight: bold;
	text-align: left;
}

.table .checkbox {
	margin-left: 5px;
}

.table td {
	padding: 5px;
	font-size: 14px;
}

.table td.last {
	text-align: right;
}

/* forms */
div.form {
	border: solid 1px green;
}

form.form {
	
}

form.form ul {
	margin: 0;
	padding: 0;
}

form.form ul li {
	margin: 0;
	padding: 6px;
	clear: both;
}

form.form ul li label {
	display: block;
	font-weight: bold;
	color: #666;
}

form.form ul li span {
	float: left;
	margin: 0 5px 0 0;
	padding: 0 0 0 20px;
	font-weight: bold;
}

form.form ul li span input.text {
	width: 400px;
}

form.form .textarea {
	width: 400px;
}

form.form div.actions {
	clear: both;
	float: left;
	padding: 6px;
}

form.form table.form {
	
}

form.form table.form td {
	font-size: 11pt;
}

form.form table.form td.hd {
	font-weight: bold;
	vertical-align: top;
}

form.form table.form td input.text {
	width: 300px;
}

form.form table.form td input.textlong {
	width: 600px;
}

form.form table.form .textarea {
	width: 600px;
	height: 200px;
}

.pageTitle {
	
}

.page-navi {
	margin: 5px 0;
}

#sidebar .sidebar-menu {
	
}

#sidebar .sidebar-menu ul li {
	line-height: 24px;
}

div.list table th {
	border: solid 1px green;
	font-size: 10pt;
}

div.list table td {
	border: solid 1px green;
	font-size: 10pt;
}

.block {
	margin-top: 5px;
}
div.article {
	margin-top: 10px;
	margin-bottom: 5px;
}
div.article span.title {
	font-weight: bold;
}

div.article span.created_at {
	
}

div.article span.created_by {
	
}
div.article div.bodyText{
	
}
div.article div.comments{
	margin-left: 20px;
}